@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    
    width: 100%;
}



header h1{
    color: rgb(209, 209, 209);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.493);
    text-align: center;
    background-color: gray;
    padding: 15px;
    padding-bottom: 20px;
    
} 

nav{
    display: none;
}

#imenu{
    color: white;
    margin-top: 2.7px;
    display: block;
    margin: auto;
    text-align: center;
    background-color: rgb(65, 65, 65);
    padding: 9px;
    cursor: pointer;
}

#imenu:hover{
    background-color: #c9c9c9;
    color: black;

}

main{
    width: 60vw;
   
}

ul{
    width: 100%;
  
    
}

li{
    display: block;
    color: white;
    
    border: 2px solid gray;
    border-radius: 5px;
   
    text-align: center;
    padding: 8px;
    
    background-color: rgb(83, 83, 83);
    
    list-style-type: none;
    
    
    
}

header nav ul :hover{
    background-color: rgb(116, 116, 116);
    border: 2px solid rgb(116, 116, 116) ;
    box-sizing: border-box;
    cursor: pointer;
}

a{
    color: white;
    text-decoration: none;
}


main{
    width: 90vw;
    background-color: rgb(209, 209, 209);
    margin: auto;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
}

main h1{
    padding: 25px;
    text-align: center;
    
}

main p {
    padding: 15px;
}