@charset "UTF-8";

@media  screen and (min-width: 768px) /* 768 pra cima */ {



    i#imenu{
        display: none;

    }

    header nav{
        display: block;
        background-color: gray;
        
    }
    main{
        
        width: 700px;
        background-color: rgb(209, 209, 209);
        
        margin: auto;
        padding: 5px;
        margin-top: 12px;
        border-radius: 5px;
        
        
    }

    

    nav ul li{
        display: inline-block;
        width: 10vw;
        border: 2px solid rgb(116, 116, 116) ;
       box-sizing: border-box;
       margin-right: 1.5vw;
       padding: 7px;


    }

  
   


    
    
}




