@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');



@font-face {
    font-family:'sriracha' ;
    src: url(fonts/Sriracha-Regular.ttf) format(truetype);
}



:root {
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:'passion one', sans-serif;
    --fonte3:'sriracha' , cursive;
}


*{
    margin: 0px;
    padding: 0px;
}


html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);

}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
    
}

header p{
    padding-bottom: 50px;
   font-size:  0.9em;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
 text-decoration: underline;
 transition:ease 2s;
   
}



section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family:'sriracha';
    line-height: 2em;
    font-size: 3.5vw;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.247);
}

section.normal{
    background-color: white;
    color: black;
    font-family: "Sriracha", cursive;
}

section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    

}

section.imagem#um{
    box-shadow: inset 0px 0px 13px 7px #00000054;



    background-image: url(img/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

section.imagem#dois{
    box-shadow: inset 0px 0px 13px 7px #00000054;



    background-image: url(img/background002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}




section.imagem p{
    background-color: rgba(0, 0, 0, 0.322);
    display: inline-block;
    text-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.418);
    padding: 9px;
    border-radius: 7px;
}



footer a:hover {
    background-color: white;
    color: black;
    position: absolute;
    top: 10%;
    left: 50%;
    margin: auto;
    text-align: center;
    border-radius: 6px;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.356);
    
    transform: translate(-50% ,-50%);
     
    margin-top: 20px;
    padding: 1em;
    font-size: 4em;
    
    transition: ease 8s;
}




footer a{
    transition:ease-in-out 5s;
    
    background-color: black;
    color: white;
    border-radius: 6px;
    
    
}


footer{
    transition:ease 2s;
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
















