

@font-face{
    font-family:'passion one';
    src: url(fonts/passion-one/PassionOne-Bold.ttf) format('truetype');
    
    font-weight: normal;
    font-style: normal; 
    font-family: sans-serif;
}

body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte3);
}

:root {
    --fonteh1:'Passion One', cursive ;
    --fontetxt:'Sriracha', cursive;
    --fonte3:'verdana', 'sans-serif';
}

header{
    
    margin: 0px;
    color: white;
    background-color: black;
    

}

header>div>h1{

    padding: 0px;
    margin: auto;
    display: block;
}




header>p{
    margin: auto;
}




